body {
    font-family: 'Open Sans','Noto Sans TC',sans-serif;
    font-size: $base-font-size;
    color: $color-primary;
}

.flex {
    display: flex;
}

//img
img {
    width: 100%;
    height: auto;
    // vertical-align: middle;
}

// link
a {
    text-decoration: none;
}

.d-n {
    display: none;
}

.txtInfo {
    font-size: $font-size-sm;
}

// .button {
//     text-align: center;
//     transition: all .2s ease-in-out;
//     line-height: 44px; 

//     &:hover{
//         transform: scale(1.1);
//     }
// }

hr {
    border: 0.5px solid rgba($color-secondary,0.5);
}