.modal {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    // padding: 84px 128px;

    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
}

.modal-container {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    border: 1px solid $color-primary;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    position: relative;

    a.btn-cancel {
        width: 13px;
        position:absolute;
        top: 4%;
        right: 2%;
    }
}

#modalBook .modal-container {
    margin-top: 84px;
    background-color: $white;
}

.modal-booking {
    background-color: $color-primary;
    width: 40%;
    color: $white;
    padding: 50px 65px 26px;

    .bookingForm {
        p {
            margin-bottom: 7px;
        }
        label {
            width: 100%;
            display: inline-block;
            margin-bottom: 16px;
            input {
                width: 100%;
                // display: inline-block;
                height: 38px;
                font-size: 16px;
            }
            input[type="date"]{
                color: #6A6A6A;
            }
        }
        p.totalDays {
            color: $color-secondary;
        }
    }

    hr {
        margin-top: 14px;
        margin-bottom: 10px;
    }

    .txtTotal {
        text-align: right;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;

        span {
            font-size: 26px;
            font-weight: 600;
            line-height: 36px;
        }
    }
    .btn-submit {
        @include button(100%,$white,$color-primary);
        border: 1px solid $white;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 18px;

        &:hover {
            background-color: $color-secondary;
            border: none;
        }
    }

    .txtInfo {
        text-align: center;
    }
}

.modal-roomInfo {
    width: 60%;
    margin-left: 30px;
    margin-right: 94px;

    .roomTitle {
        align-items: center;
        margin-top: 51px;
        margin-bottom: 8px;
        h2 {
            font-size: 24px;
            font-weight:bold;
            flex-grow: 0;
        }
        hr {
            flex-grow: 1;
            margin-left: 8px;
        }
    }

    .subTitle {
        align-items: center;

        h3 {
            font-size: 16px;
            font-weight: 700;
        }
        hr {
            flex-grow: 1;
            margin-left: 8px;
        }
    }

    .roomDesc {
        margin-bottom: 26px;
        line-height: 24px;

        .room-amenities {
            margin-top: 27px;
            align-items: center;
            column-gap: 30px;
            flex-wrap: wrap;
        }

        .amenity {
            img {
                height: 30px;
                margin-bottom: 8px;
            }
            p {
                text-align: center;
                font-size: 10px;
                color: $color-secondary;
            }
        }
    }

    .roomRule {
        ul {
            line-height: 26px;
            font-size: $font-size-sm;
            margin-bottom: 12px;
            margin-top: 12px;
        }
        li {
            list-style: disc inside;
        }
    }

    .bookingSteps {
        ul {
            margin-top: 19px;
            justify-content: space-between;
            align-items:flex-start;
            margin-bottom: 26px;

            .arrowRight {
                width: 7.5px;
                color: $color-secondary;
                margin-top: 18px;
            }

            .step {
                width: 160px;
                height: 136px;
                box-sizing: border-box;
                border: 1px solid $color-secondary;
                border-radius: 0px 0px 10px 10px;
                text-align: center;

                div {
                    background: $color-secondary;
                    height: 50px;
                    box-sizing: border-box;
                    img {
                        margin: 5% auto;
                        height: 35px;
                        color: $white;
                    }
                }

                p {
                    margin-top: 12px;
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 18px;
                    line-height: 18px;
                }

            }

        }
    }
}

#modalSubmit .modal-container {
    margin-top: 84px;
    background-color: $color-primary;
    color: $white;
    text-align: center;
    padding: 125px 321px 0px;

    .btn-cancel {
        color: $white;
    }

    .bookConfirmImg {
        margin: 0 auto;
        width: 124.42px;
        position: relative;

        img:nth-child(1){
            width: 100%;
        }

        img:nth-child(2){
            position: absolute;
            width: 50%;
            top: 68.9px;
            left: 43.93px;
        }
    }

    h2 {
        font-size: 50px;
        font-weight:500;
        margin: 41px auto;
    }

    p {
        font-size: 18px;
        font-weight:300;
        line-height: 30px;
        margin-bottom: 104px;
    }
}